body{
    background-color:#faecec; 
}
.container{
    height: 95vh !important;
   background-color:#faecec;
   
}
h1{
    font-size: 60px;
    font-weight: bold;
    
    font-family: 'Lora', serif;
}
p,h2

{
    font-family: 'Courgette', cursive;
}
button{
   
    font-family:'Times New Roman', Times, serif !important;
    background-color:rgb(250, 159, 207) !important;
    color: #fff !important;
    transition: hover .5s ;
}
button:hover{
    border: 1px solid green !important;
    background-color:green!important;
    
}